/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

body {
	padding-top: 50px;
	background-color: lavender;
	color: black;
}

.navbar {
	position: fixed;
	width: 100%;
}

.table {
	border: black solid 2px;
}
.table td{
	border: black solid 2px;
}
.table th{
	border: black solid 2px;
}
