body {
	padding-top: 50px;
	background-image: url("leaderboard_background.png");
}

#leader_col {
	margin-top: 5%;
}

/* width 200px looks fine but isn't exact */
#sections button {
	display: inline-block;
	width: 200px;
	color: black;
	font-weight: bold;
	background-color: rgb(255, 191, 128);
}

#clear_row {
	margin-top: 5%;
	color: white;
	font-size: 40px;
	text-align: center;
}

#content_row {
	margin-top: 5%;
	color: white;
	font-size: 20px;
	text-align: center;
	border: 3px solid white;
}

#content_row li {
	text-align: left;
	margin-left: 15%;
	padding-left: 25px;
}

#content_row img {
	width: 30px;
	height: 30px;
	margin-left: 25px;
}

#leader_text {
	font-size: 35px;
}

#svg21 {
	position: absolute;
	left: 20%;
}

#svg22 {
	position: absolute;
	margin-top: 24.5%;
	left: 20%;
}

#svg23 {
	position: absolute;
	left: 80%;
	margin-top: 50px;
}

#svg1 {
	position: absolute;
	left: 50%;
}

#svg31 {
	position: absolute;
	right: 80%;
	margin-top: 50px;
}

#svg32 {
	position: absolute;
	margin-top: 24.5%;
	right: 20%;
}

#svg33 {
	position: absolute;
	right: 20%;
}