body {
	padding-top: 50px;
}

.carousel-inner img {
	margin: auto;
}

.carousel-indicators li {
	visibility: hidden; 
}

#splash_screen {
	text-align: center;
	margin-top: 5%;
}

#splash_screen h1 {
	font-weight: bold;
	font-size: 60px;
}

#splash_screen p {
	margin-top: 50px;
	font-size: 30px;
}

#splash_screen button {
	margin-top: 75px;
	width: 300px;
	font-weight: bold;
	border: 2px solid red;
}

#user_features {
	margin-top: 5%;
}

#features_btn {
	visibility: hidden;
}

#tcarousel h1 {
	font-size: 40px;
	text-align: center;
}

#tcarousel p {
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
}

#tcarousel img {
	width: 400px;
	height: 400px;
	margin-top: 35px;
}

#col1 {
	height: 937px;
	width: 20%;
}

#col2 {
	height: 937px;
	width: 60%;
}

#col3 {
	height: 937px;
	outline: 2px solid black;
	width: 20%;
	float: right;
}

#twitter_view {
	margin-top: -2%;
	height: 920px;
	background-color: white;
	outline: 2px solid black;
}

#twitter_title {
	padding-top: 5%;
}

hr {
	border: 1px solid black;
}

#tweets {
	height: 820px;;
	overflow-y: scroll
}

#scroller_text {
	margin-top: 10%;
	text-align: center;
	font-size: 50px;
}

#drop_menu {
	width: 100%;
}

#popular {
	height: 625px;
	overflow-y: scroll;
}

#contact_btn {
	border: 1px solid black;
	margin-top: -1%;
}

#contact_p {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#bracket_btn {
	border: 1px solid black;
}