/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

body {
	padding-top: 50px;
	background-color:lavender;
}
.container{
	background-color:blue;
	color: lightblue;
	display:flex;
}
.top{
	background-color:;

	height:150px;
}
.bottom{

	outline: 2px solid black;
	background-color:white;
}
/*TODO Make box scale dynamically*/
.bracketbox{

	overflow-y: scroll;
	overflow-x: scroll;

}
#bracketbox{
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	white-space: nowrap;
}
.m-contain{
	fill:lightcoral;
}
.p-contain{
	fill:khaki;
}
#twitter_view {
	outline: 2px solid black;
	padding:5%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	height:700px;
	background-color:lightblue;

}

#tweets {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-right: 5%;
	height:600px;
	overflow-y: scroll;
}
