/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

body {
	padding-top: 50px;
}
.container{
	background-color:blue;
	color: lightblue;
	display:flex;
}
.top{
	background-color:red;
	width:1000px;
	height:150px;
}
.bottom{
	outline: 2px solid black;
	background-color:white;
}
/*TODO Make box scale dynamically*/
.bracketbox{
	height:250px;

}
#twitter_view {
	outline: 2px solid black;
}

#tweets {
	margin-left: 5%;
	height: 700px;
	overflow-y: scroll;
}
