/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

body {
	background-color: #101010;
	color: #EEEEEE;
}
.container{
	background-color:blue;
	color: lightblue;
	display:flex;
}
.column{
	float: right;
	flex: 50%;
  background-color: red;

}
/*.navbar {
	position: fixed;
	width: 100%;
}*/
