/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

body {
	background-color: lavender;
	color: black;
	padding-top: 50px;
}

.navbar {
	position: fixed;
	width: 100%;
}

.accountForms {
	text-align: center;
	width: 50%;
	margin-left: 25%;
	padding-top: 50px;
}

#friendNumber {
	font-size: 16px;
	font-weight: bold;
}

#leftNav {
	background-color: #575757;
	margin-top: 1.5%;
	margin-left: 2.5%;
	border: 3px outset black;
	padding: 15px;
}

#leftNav a {
	margin-top: 2.5%;
	left: -5%;
	font-size: 16px;
	color: white;
}

#leftNav a:hover {
	cursor: pointer;
	color: red;
}

#belowNav {
	height: 400px;
}

#rightDisplay h1 {
	color: white;
}