/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

body {
	background-color: white;
	color: black;
	padding-top: 50px;
}

.navbar {
	position: fixed;
	width: 100%;
}

.accountForms {
	text-align: center;
	width: 50%;
	margin-left: 25%;
	padding-top: 50px;
}

#friendNumber {
	font-size: 16px;
	font-weight: bold;
}