
/* TODO: move common CSS to universal CSS */
/* define common attributes such as color */

.navbar {
	position: fixed;
	width: 100%;
}

body {
    padding-top: 65px;
		padding-left: 10px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #c5c7c9;
}
